<%= form_for @job do |f| %>
  <div>
    <%= f.label :title, :class=>"label"%>
    <%= f.text_field :title, :class=>"field" %>
  </div>
</br>
  <div>
    <%= f.label :description, :class=>"label"%>
    <%= f.text_area :description, :class=>"field", size: '60x6' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>